/*font-family: 'Reem Kufi Ink', sans-serif;*/
body{
    background-size: 100% 150% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: 'Reem Kufi Ink', sans-serif;
}
.footer{
    text-align: center ;
    position: fixed;
}
.logo {
    color: rgb(219, 211, 211);
    display: inline-flex;
}
.logo h3{ /*muevo la palabra mas a la derecha*/
    margin-left: 20px;
    text-align: center;
    margin-top: 5%;
}

.logo img{
    width: 130px;
    height: 45px;
}

nav{ /*pongo color a la parte de Nav*/
    background-color: transparent;
    margin-bottom: 20px;
    float: right;
    margin-block-start: 1em;
    padding-inline-start: 400px;

}
nav ul{ /*achico el nav y pongo uno al lado del otro*/
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li{ /*separo el menu*/
    flex-grow: 1;
}
nav ul li a{ /*cambio el color de los items*/
    color: #f0e8cb;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}
nav ul li a:hover{ /*pasar x arriba y cambia d color*/
   
    color: #f36666;
    border-radius: 15%;
}
nav ul li a.activo{ /*se queda pintado cuando estas en esa pagina*/
   color: #f36666;
}

.bienvenidos h1{
    width: 10px;
    padding-left: 45%;
    text-align: center;
    color: #f0e8cb;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 90%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.slider-container img {
    
    flex: 0 0 50%;
    object-fit: cover;
    scroll-snap-align: center;
    height: 341px;
    width: 106px;
    margin-left: 10px;
}

.columnas{

    display: flex;
    justify-content: space-around;
}
/*.columna2{
    margin-left: 32px;
    margin-top: 38px;
    color: #f0e8cb;
    font-style: initial;
    text-align: center;
}*/
.columna1 h2,
.columna2 h2{
    margin-left: -3px;
    margin-top: -14px;
    color: #f0e8cb;
    font-style: initial;
    text-align: center;

}
/*PAGINA -SHOWS-*/
.encabezado h1{ /*mismo q pag discografia*/
    width: 10px;
    padding-left: 45%;
    text-align: center;
    color: #f0e8cb;
}
.encabezado h2{
    font-size: 30px;
    font-style:initial;
    color: #f0e8cb;
    margin-top: 50px;
    text-align: center;

}
.fecha {
border: 1px solid #f0e8cb;
border-radius: 5px;
width: 18%;
text-align: center;
padding: 8px;
box-sizing: border-box;


}
.fecha:hover{
    transform: scale(1.2);
    backdrop-filter: blur(10px);

}
.fecha h3{
    color: white;
}
.fecha h4,
.fecha h5{
    color: rgb(101, 99, 99);
}
button {
    background-color: transparent; 
    border: 2px solid #ddd; 
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}
/* button #entradas{
    color: wheat;
    
} */
i{
    color: white;
}
button:hover {
    background-color: #f0e8cb; 
    color: black;
}

/*--DISCOGRAFIA*/
/*font-family: 'Lora', serif;*/

.disco img{
    margin:auto;
    display:inline-flex;
    width: 401px;

}
.plataformas{
    justify-content: space-around;
    display: block;
    margin-left: 50px;
}
.plataformas h3{
    color: white;
    font-size: 50px;
    font-family: 'Lora', serif;
    text-align: left;
    margin-top: -8px;
    margin-left: -32px;
    
}
.plataformas h2{
    margin-left: 32px;
    margin-top: 38px;
    color: #f0e8cb;
    font-style: initial;
    
    text-align: center;
}
.columnas_disco{
    display: flex;
}
#plataforma{
    margin: 10px;
    color: #f0e8cb;
}
#plataforma:hover {
    color: rgb(23, 192, 23);
}
ul{
    margin: 5px;
    font-size: 30px;
}
li{
    list-style: none;
}

footer{
    text-align: end;
    display: contents;
    
}